@import "./global.scss";

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 8px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .main {
    margin-left: 16px;

    .title, .author {
      font-family: 'Lato', sans-serif;
      margin: 0;
    }

    .title {
      font-size: 1.3rem;
      font-weight: 400;
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .picture {
    //margin-left: 8px;
    //margin: 8px;
  }
}
