@import "./global.scss";

.container {
  //height: 400vh;
  background-image: url('../../assets/space.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;

  .emph {
    font-style: italic;
  }

  .header {
    height: 100px;
    line-height: 100px;
    width: $contentWidth;
    margin: 0 auto;

    .brandName {
      font-size: 2.9rem;
      font-weight: 800;
      display: inline;
      line-height: 100px;
    }

    .brandNameLink {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }

    .nav {
      float: right;

      .item {
        margin-left: 10px;
      }
    }
  }

  .content {
    //width: $contentWidth;
    margin: 0 2.3rem 0 2.3rem;

    .inverted {
      color: #edf0f2;
    }

    h1, h2 {
      text-align: center;
    }

    h1 {
      font-weight: normal;
      font-size: 5.1rem;
    }

    h2 {
      font-family: 'Lato';
      font-weight: 100;
      font-size: 2.32rem;
    }

    .sellingPoints {
      height: calc(2rem + 400px);
      text-align: center;

      .box {
        margin: 0rem;

        .content{
          padding: 20px;
          min-height: 400px;

          .rating {
            display: flex;
            height: 50px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;

            &> div {
              color: #FF0066;
              outline: none;
              flex-grow: 0;
            }
          }

          .desc {
            font-size: 1.2rem;
            font-weight: 300;
          }
        }
      }
    }

    .extendedFeature {
      margin-top: 300px;
    }
  }

  .hero {
    margin-top: 200px;
    margin-bottom: 300px;
  }

  .tileWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 500px;

    .tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 30px;
      flex: 1;
    }

    .tileHead {
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      color: #eee;
      margin-bottom: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

      .tileHeadText {
        // Compensate for the dot at the end so that the digit is still roughly centered.
        padding-left: 12px;
        user-select: none;
      }
    }

    .expl {
      text-align: center;
      padding: 10px 30px;
      p {
        font-size: 1.2rem;
        font-weight: 300;
        //text-align: center;
        //width: 200px;
      }

    }
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .friendsAIcon, .friendsBIcon, .friendsCIcon, .onePlaceIcon {
    margin: 0 5px;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .friendsAIcon {
    background-image: url('../../assets/female_factory_worker_emoji.png');
  }

  .friendsBIcon {
    background-image: url('../../assets/male_mechanic_emoji.png');
  }

  .friendsCIcon {
    background-image: url('../../assets/female_farm_worker_emoji.png');
  }

  .onePlaceIcon {
    background-image: url('../../assets/exploding_head_emoji.png');
  }

}
