@import "./global.scss";

.root {
  height: 100px;
  width: $contentWidth;
  margin: 0 auto;

  .brand_name {
    font-size: 2.9rem;
    font-weight: 800;
    display: inline;
  }

  .brand_name_link {
    color: rgba(0, 0, 0, 0.4);
    line-height: 100px;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .nav {
    float: right;
    text-align: right;
    margin-top: 25px;

    .item {
      margin-left: 10px;
    }

  }

  #nameItem {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 22px!important;
    padding-bottom: 22px!important;
    color: #fefefe;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
      cursor: default!important;
    }
  }

  .profileImage {
    width: 50px!important;
    height: 50px!important;
    margin-left: 5px;
    margin-bottom: 3px;
  }

  .loggedOutView {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .createGroupLink {
    &:hover {
      background-color: #fff!important;
    }
  }

  #dropdownMenu {
    width: 200px!important;
    z-index: 999999;

    &::after {
      display: none;
    
    }
  }

}
