@import "./global.scss";

.root {
  height: 100px;
  line-height: 100px;
  width: $contentWidth;
  margin: 0 auto;

  .brand_name {
    font-size: 2.9rem;
    font-weight: 800;
    display: inline;
  }

  .brand_name_link {
    color: rgba(0, 0, 0, 0.4);
    line-height: 100px;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .nav {
    float: right;
    text-align: right;

    .item {
      margin-left: 10px;
    }

  }

  #dropdownMenu {
    width: 200px!important;
  }

}
