.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 200px;

  .form {
    width: 350px;
    text-align: center;

    .dummyInput {
      display: none;
    }
    .textFields {
      width: 100%;
      margin-bottom: 10px;
    }

    .nameField {
      margin-bottom: 10px;
    }

    .dropDown {
      margin-bottom: 10px;
    }

    .readingStatus {
      margin-bottom: 10px;
    }

    .readIcon, .toReadIcon, .readingIcon {
      width: 32px;
      height: 32px;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(1);
      margin: 5px auto 8px auto;
    }

    .readIcon {
      background-image: url('../../../assets/read.png');
    }

    .toReadIcon {
      background-image: url('../../../assets/to-read.png');
    }

    .readingIcon {
      background-image: url('../../../assets/reading.png');
    }

  }
}
