.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 50px;

  .form {
    width: 400px;
    text-align: center;

    .dummyInput {
      display: none;
    }
    .textFields {
      width: 100%;
      margin-bottom: 10px;
    }

    .nameField {
      margin-bottom: 10px;
    }

    .authorField {
      margin-bottom: 10px;
    }

    .divider{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .rating{
      margin-bottom: 10px;
    }

    .dropDown {
      margin-bottom: 10px;
    }

    .readingStatus {
      margin-bottom: 10px;
      width: 100%;
    }

    .stateButton{
  


    }



  }

}
