.root {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 100px;
  
  .books {
    width: 800px;
  }

  .loaderContainer {
    background-color: blue;
  }

  .loader {
    background-color: red;
    margin: 20px;
  }

}
