@import "./global.scss";

.root {
  .table{
    width: 100%;
    table-layout: fixed;
  }
  .title{
    width: 30%;
  }
  .author{
    width: 40%;
  }
  .rating{
    width: 30%;
  }
  .finished{
    width: 30%;
  }
  .done_button{
      text-transform: uppercase!important;

      &:hover{
        color: rgba(255, 255, 255, 1);
      }
  }

}
