.container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 200px;

  .form {
    width: 350px;
    text-align: center;   
  }

  .textFields {
    width: 100%;
    margin-bottom: 10px;
  }
}
